<div class="d-flex banner b-show align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= url_for @photo %>')">
  <div class="container">
    <h1><strong>List <%= @list.name %></strong></h1>
  </div>
</div>

<div class="contrainer">
    <% @list.movies.each do |movie| %>
      <div class="card m-3" style="width: 18rem;">
        <%= image_tag movie.poster_url, :class=>"card-img-top", width: "100px" %>
        <div class="card-body">
          <% movie.bookmarks.each do |element| %>
            <h5 class="card-title"><%= element.comment %></h5>
          <% end %>
          <% movie.bookmarks.each do |element| %>
            <p class="card-text"><%= element.comment %></p>
          <% end %>
        </div>
      </div>
    <% end %>

  <%= link_to "Back to Lists", lists_path(@list) %>
  /
  <%= link_to "Añadir una Reseña", new_list_bookmark_path(@list) %>
</div>

<%= console %>
